datasets
trl
transformers
bitsandbytes
peft
datasets
langchain
nerre @ git+https://github.com/tlebryk/NERRE.git@dev
llama-nerre @ git+https://github.com/tlebryk/NERRE.git@dev
# can rip out langchain and refactor out 
# prompt template element 
# torch
# flash attention ?
# loose packages for now. tighten later. 